<nav class="app-schedule navbar navbar-expand">
  <div class="container-fluid px-0">
    <div class="navbar-nav">
      <li class="px-2 me-2">
        <a routerLink="add" class="nav-link primary">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
      </li>
      <li class="px-2">
        <a routerLink="add" class="nav-link primary fw-bold">
          <fa-icon class="me-2" [icon]="faCalendar"></fa-icon>
          Calendario
        </a>
      </li>
    </div>
    <div class="navbar-nav">
      <li class="nav-item me-2 px-2 nav-btn">
        <a routerLink="/" class="nav-link">Mes</a>
      </li>
      <li class="nav-item px-2 nav-btn">
        <a routerLink="/" class="nav-link">Año</a>
      </li>
    </div>
  </div>
</nav>

<div class="app-schedule app-schedule--content d-flex justify-content-between mt-4">
  <div [ngSwitch]="view" class="calendar-wrap">
    <nav class="app-schedule navbar navbar-expand border-bottom border-light">
      <div class="container-fluid px-0">
        <div class="navbar-nav">
          <li class="nav-item me-2 px-2">
            <a routerLink="/" class="nav-link text-capitalize">{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</a>
          </li>
        </div>
        <div class="navbar-nav calendar-control">
          <li class="nav-item px-2 me-2 nav-btn">
            <a 
              routerLink="add" 
              class="nav-link"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
            >
              <fa-icon [icon]="faCaretLeft"></fa-icon>
            </a>
          </li>
          <li class="nav-item px-2 me-2 nav-btn">
            <a 
              routerLink="add" 
              class="nav-link"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
            >
              <fa-icon [icon]="faCaretRight"></fa-icon>
            </a>
          </li>
          <li class="nav-item px-2 nav-btn">
            <a 
              routerLink="/" 
              class="nav-link" 
              [(viewDate)]="viewDate" 
              mwlCalendarToday>
                Hoy
            </a>
          </li>
        </div>
      </div>
    </nav>
    <div class="py-4">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [locale]="locale"
      >
      </mwl-calendar-month-view>
    </div>
  </div>
  <div class="payments-wrap">
    <p class="m-0 mb-4 fw-bold">Lista de pagos del dia</p>
    <div *ngFor="let payment of payments">
      <div class="d-flex justify-content-between py-2 my-2 border-bottom border-light">
        <div class="d-flex">
          <div class="d-flex justify-content-center align-items-center px-4">
            <fa-icon class="fs-4 me-2" [icon]="faTags"></fa-icon>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <div>{{payment.provider}} - ID {{payment.id}} <fa-icon class="ms-2 secondary" [icon]="faCircleCheck"></fa-icon></div>
            <div>{{payment.type}}</div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <fa-icon class="me-3 secondary" [icon]="faFile"></fa-icon>
          <fa-icon class="me-3 danger" [icon]="faCircleUp"></fa-icon>
          <span>$ {{payment.amount}}</span>
          <fa-icon class="ms-2" [icon]="faCircleArrowRight"></fa-icon>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between py-2 block-summary fw-bold">
      <div class="d-flex align-items-center">
        <div>
          <div class="d-flex justify-content-center align-items-center px-4 invisible">
            <fa-icon class="fs-4 me-2" [icon]="faTags"></fa-icon>
          </div>
        </div>
        <span>Total Ingresos</span>
      </div>
      <div class="d-flex align-items-center pe-4">
        <span>$ {{total}}</span>
      </div>
    </div>
  </div>
</div>