.app-schedule {
  height: 60px;
  width: 100%;

  .primary {
    color: #0F3154;
  }

  .nav-item {
    border: 1px solid #EDEFF5;
    border-radius: 5px;

    .nav-link {
      letter-spacing: 0.16px;
      color: #0F3154;
    }
  }

  .nav-btn {
    background-color: #EDEFF5;

    &:hover {
      background-color: #d3d7e0;
    }
  }

  @media (max-width: 640px) {
    .nav-name {
      display: none;
    }
  }

  &--content {
    .calendar-wrap {
      width: 55%;
    }

    .payments-wrap {
      width: 40%;
    }

    .block-summary{
      border-radius: 5px;
      background: #EDEFF5 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 2px #00000029;
    }
  }

  @media (max-width: 980px) {
    &--content {
      flex-direction: column;
    }

    .calendar-wrap {
      width: 100%;
    }

    .payments-wrap {
      width: 100%;
      padding: 2rem 0;
    }

    .calendar-control {
      position: fixed;
      bottom: 1rem;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
    }
  }
}