<nav class="app-header navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-nav">
      <li class="px-2 me-4">
        <a routerLink="add" class="nav-link primary">
          <fa-icon [icon]="faBars"></fa-icon>
        </a>
      </li>
      <a href="#" class="navbar-brand">
        <img src="assets/logo.svg" width="88px">
      </a>
    </div>
    <div class="navbar-nav mr-auto">
      <li class="nav-item me-2 px-2 nav-name">
        <a routerLink="/" class="nav-link">Jorge Vargas</a>
      </li>
      <li class="nav-item px-2">
        <a routerLink="add" class="nav-link">
          <fa-icon [icon]="faUserAstronaut"></fa-icon>
        </a>
      </li>
    </div>
  </div>
</nav>